<!-- Main Content -->
<div class="container-fluid">

    <div class="side-body">

      <!-- admin panel -->
      <%= render 'shared/admin_panel' %>
      <!--End Admin Panel-->

    </div>



</div>




