<div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
  <div class="row">
    <div class="left_bar">
    <!-- start single leftbar -->
      <div class="single_leftbar">
        <h2><span>Recent Post</span></h2>
        <div class="singleleft_inner">
          <ul class="recentpost_nav wow fadeInDown">
            <li>
              <a href="single_page.html"><img src="http://lorempixel.com/150/80/" alt="img"></a>
              <a class="recent_title" href="single_page.html"> Curabitur ac dictum nisl eu hendrerit ante</a>
              </li>
              <li>
              <a href="single_page.html"><img src="http://lorempixel.com/150/80/" alt="img"></a>
              <a class="recent_title" href="single_page.html"> Curabitur ac dictum nisl eu hendrerit ante</a>
              </li>
              <li>
              <a href="single_page.html"><img src="http://lorempixel.com/150/80/" alt="img"></a>
              <a class="recent_title" href="single_page.html"> Curabitur ac dictum nisl eu hendrerit ante</a>
              </li>
          </ul>
        </div>
      </div>
      <!-- start single leftbar -->
      <div class="single_leftbar wow fadeInDown">
        <h2><span>Side Add</span></h2>
        <div class="singleleft_inner">
          <a href="#"><img src="http://lorempixel.com/150/600/" alt="img"></a>
        </div>
      </div>
    </div>
  </div>
</div>