<div class="col-lg-7 col-md-7 col-sm-8 col-xs-12">
  <div class="row">
    <div class="middle_bar">
    <!-- start featured slider -->
      <div class="featured_sliderarea">
        <!-- Carousel
        ================================================== -->
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <img src="http://lorempixel.com/668/328/" alt="First slide">          
              <div class="carousel-caption">
                <h1><a href="#"> Aliquam malesuada diam eget turpis varius 1</a></h1>           
              </div>          
            </div>
            <div class="item">
              <img src="http://lorempixel.com/668/328/" alt="First slide">          
              <div class="carousel-caption">
                 <h1><a href="#"> Aliquam malesuada diam eget turpis varius 2</a></h1>              
              </div>          
            </div>
            <div class="item">
              <img src="http://lorempixel.com/668/328/" alt="First slide">          
              <div class="carousel-caption">
                 <h1><a href="#"> Aliquam malesuada diam eget turpis varius 3</a></h1>             
              </div>          
            </div>
           <div class="item">
              <img src="http://lorempixel.com/668/328/" alt="First slide">          
              <div class="carousel-caption">
                 <h1><a href="#"> Aliquam malesuada diam eget turpis varius 4</a></h1>             
              </div>          
            </div>
           
          </div>
          <a class="left left_slide" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>                     
          </a>
          <a class="right right_slide" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>                     
          </a>
        </div><!-- /.carousel -->
      </div><!-- End featured slider -->

      <!-- start category one -->
      <div class="single_category wow fadeInDown">
        <div class="category_title">
          <a href="category-archive.html">Category 1</a>
        </div>
        <div class="single_category_inner">
          <ul class="catg_nav">
            <li>
              <div class="catgimg_container">
                <a class="catg1_img" href="single_page.html">
                  <img src="http://lorempixel.com/310/150/" alt="img">
                  </a>
              </div>
              <a class="catg_title" href="single_page.html"> Curabitur ac dictum nisl eu hendrerit ante</a>
              <div class="sing_commentbox">
                <p><i class="fa fa-calendar"></i>19 Nov 2014</p>
                <a href="#"><i class="fa fa-comments"></i>20 Comments</a>
              </div>
            </li>
            <li>
              <div class="catgimg_container">
                <a class="catg1_img" href="single_page.html">
                  <img src="http://lorempixel.com/310/150/" alt="img">
                </a>
              </div>
              <a class="catg_title" href="single_page.html">Fusce eu nulla semper porttitor felis sit amet</a>
              <div class="sing_commentbox">
                <p><i class="fa fa-calendar"></i>19 Nov 2014</p>
                <a href="#"><i class="fa fa-comments"></i>20 Comments</a>
              </div>
            </li>
             <li>
              <div class="catgimg_container">
                <a class="catg1_img" href="single_page.html">
                  <img src="http://lorempixel.com/310/150/" alt="img">
                </a>
              </div>
              <a class="catg_title" href="single_page.html"> Curabitur ac dictum nisl eu hendrerit ante</a>
              <div class="sing_commentbox">
                <p><i class="fa fa-calendar"></i>19 Nov 2014</p>
                <a href="single_page.html"><i class="fa fa-comments"></i>20 Comments</a>
              </div>
            </li>
            <li>
              <div class="catgimg_container">
                <a class="catg1_img" href="#">
                  <img src="http://lorempixel.com/310/150/" alt="img">
                </a>
              </div>
              <a class="catg_title" href="#">Fusce eu nulla semper porttitor felis sit amet</a>
              <div class="sing_commentbox">
                <p><i class="fa fa-calendar"></i>19 Nov 2014</p>
                <a href="#"><i class="fa fa-comments"></i>20 Comments</a>
              </div>
            </li>
          </ul>
        </div>
      </div> <!-- End category one -->  

      <!-- start category Two -->
      <div class="single_category  wow fadeInDown">
        <div class="category_title">
          <a href="category-archive.html">Category 2</a>
        </div>
        <div class="single_category_inner">
          <ul class="catg_nav catg_nav2">
            <li>
              <div class="catgimg_container">
                <a class="catg1_img" href="#">
                  <img src="http://lorempixel.com/310/300/" alt="img">
                  </a>
              </div>
              <a class="catg_title" href="#"> Curabitur ac dictum nisl eu hendrerit ante</a>
              <div class="sing_commentbox">
                <p><i class="fa fa-calendar"></i>19 Nov 2014</p>
                <a href="#"><i class="fa fa-comments"></i>20 Comments</a>
              </div>
               <p class="post-summary">Suspendisse mauris dui, interdum vitae vehicula ut, posuere sed lectus. Nulla facilisi. Curabitur...</p>
            </li>
            <li>
              <div class="catgimg_container">
                <a class="catg1_img" href="#">
                  <img src="http://lorempixel.com/310/300/" alt="img">
                </a>
              </div>
              <a class="catg_title" href="#">Fusce eu nulla semper porttitor felis sit amet</a>
              <div class="sing_commentbox">
                <p><i class="fa fa-calendar"></i>19 Nov 2014</p>
                <a href="#"><i class="fa fa-comments"></i>20 Comments</a>
              </div>
              <p class="post-summary">Suspendisse mauris dui, interdum vitae vehicula ut, posuere sed lectus. Nulla facilisi. Curabitur...</p>
            </li>                    
          </ul>
        </div>
      </div> <!-- End category Two --> 

      <div class="category_three_fourarea  wow fadeInDown">
        <div class="category_three">
              <!-- start category Three -->
          <div class="single_category">
            <div class="category_title">
              <a href="single_page.html">Category 3</a>
            </div>
            <div class="single_category_inner">
              <ul class="catg_nav catg_nav3">
                <li>
                  <div class="catgimg_container">
                    <a class="catg1_img" href="single_page.html">
                      <img src="http://lorempixel.com/292/150/" alt="img">
                      </a>
                  </div>
                  <a class="catg_title" href="#"> Curabitur ac dictum nisl eu hendrerit ante</a>
                  <div class="sing_commentbox">
                    <p><i class="fa fa-calendar"></i>19 Nov 2014</p>
                    <a href="#"><i class="fa fa-comments"></i>20 Comments</a>
                  </div>
                  <p class="post-summary">Duis erat purus, tincidunt vel ullamcorper ut, consequat tempus nibh. Proin condimentum risus ligula, dignissim mollis tortor hendrerit vel. Aliquam...</p>
                </li>                   
              </ul>
              <!-- start category3 bottom post -->
              <div class="catg3_bottompost wow fadeInDown">
                <ul class="catg3_snav">
                  <li>
                    <div class="media">
                      <a class="media-left" href="single_page.html">
                        <img src="http://lorempixel.com/70/70/" alt="img">
                      </a>
                      <div class="media-body">
                        <a class="catg_title" href="single_page.html"> Aliquam malesuada diam eget turpis varius</a>
                         <div class="sing_commentbox">
                          <p><i class="fa fa-calendar"></i>19 Nov 2014</p>
                          <a href="#"><i class="fa fa-comments"></i>20 Comments</a>
                        </div>
                      </div>
                    </div>
                  </li>
                   <li>
                    <div class="media">
                      <a class="media-left" href="single_page.html">
                        <img src="http://lorempixel.com/70/70/" alt="img">
                      </a>
                      <div class="media-body">
                        <a class="catg_title" href="single_page.html"> Aliquam malesuada diam eget turpis varius</a>
                         <div class="sing_commentbox">
                          <p><i class="fa fa-calendar"></i>19 Nov 2014</p>
                          <a href="#"><i class="fa fa-comments"></i>20 Comments</a>
                        </div>
                      </div>
                    </div>
                  </li>
                    <li>
                    <div class="media">
                      <a class="media-left" href="single_page.html">
                        <img src="http://lorempixel.com/70/70/" alt="img">
                      </a>
                      <div class="media-body">
                        <a class="catg_title" href="#"> Aliquam malesuada diam eget turpis varius</a>
                         <div class="sing_commentbox">
                          <p><i class="fa fa-calendar"></i>19 Nov 2014</p>
                          <a href="#"><i class="fa fa-comments"></i>20 Comments</a>
                        </div>
                      </div>
                    </div>
                  </li>
                    <li>
                    <div class="media">
                      <a class="media-left" href="single_page.html">
                        <img src="http://lorempixel.com/70/70/" alt="img">
                      </a>
                      <div class="media-body">
                        <a class="catg_title" href="single_page.html"> Aliquam malesuada diam eget turpis varius</a>
                         <div class="sing_commentbox">
                          <p><i class="fa fa-calendar"></i>19 Nov 2014</p>
                          <a href="#"><i class="fa fa-comments"></i>20 Comments</a>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>  
        </div><!-- End category three --> 
        <div class="category_four wow fadeInDown">
          <!-- start category Four -->
          <div class="single_category">
            <div class="category_title">
              <a href="#">Category 4</a>
            </div>
            <div class="single_category_inner">
              <ul class="catg_nav catg_nav3">
                <li>
                  <div class="catgimg_container">
                    <a class="catg1_img" href="single_page.html">
                      <img src="http://lorempixel.com/292/150/" alt="img">
                      </a>
                  </div>
                  <a class="catg_title" href="single_page.html"> Curabitur ac dictum nisl eu hendrerit ante</a>
                  <div class="sing_commentbox">
                    <p><i class="fa fa-calendar"></i>19 Nov 2014</p>
                    <a href="#"><i class="fa fa-comments"></i>20 Comments</a>
                  </div>
                   <p class="post-summary">Duis erat purus, tincidunt vel ullamcorper ut, consequat tempus nibh. Proin condimentum risus ligula, dignissim mollis tortor hendrerit vel. Aliquam...</p>
                </li>                 
              </ul>

              <!-- start category4 bottom post -->
              <div class="catg3_bottompost wow fadeInDown">
                <ul class="catg3_snav">
                  <li>
                    <div class="media">
                      <a class="media-left" href="single_page.html">
                        <img src="http://lorempixel.com/70/70/" alt="img">
                      </a>
                      <div class="media-body">
                        <a class="catg_title" href="#"> Aliquam malesuada diam eget turpis varius</a>
                         <div class="sing_commentbox">
                          <p><i class="fa fa-calendar"></i>19 Nov 2014</p>
                          <a href="#"><i class="fa fa-comments"></i>20 Comments</a>
                        </div>
                      </div>
                    </div>
                  </li>
                   <li>
                    <div class="media">
                      <a class="media-left" href="#">
                        <img src="http://lorempixel.com/70/70/" alt="img">
                      </a>
                      <div class="media-body">
                        <a class="catg_title" href="#"> Aliquam malesuada diam eget turpis varius</a>
                         <div class="sing_commentbox">
                          <p><i class="fa fa-calendar"></i>19 Nov 2014</p>
                          <a href="#"><i class="fa fa-comments"></i>20 Comments</a>
                        </div>
                      </div>
                    </div>
                  </li>
                    <li>
                    <div class="media">
                      <a class="media-left" href="#">
                        <img src="http://lorempixel.com/70/70/" alt="img">
                      </a>
                      <div class="media-body">
                        <a class="catg_title" href="#"> Aliquam malesuada diam eget turpis varius</a>
                         <div class="sing_commentbox">
                          <p><i class="fa fa-calendar"></i>19 Nov 2014</p>
                          <a href="#"><i class="fa fa-comments"></i>20 Comments</a>
                        </div>
                      </div>
                    </div>
                  </li>
                    <li>
                    <div class="media">
                      <a class="media-left" href="#">
                        <img src="http://lorempixel.com/70/70/" alt="img">
                      </a>
                      <div class="media-body">
                        <a class="catg_title" href="#"> Aliquam malesuada diam eget turpis varius</a>
                         <div class="sing_commentbox">
                          <p><i class="fa fa-calendar"></i>19 Nov 2014</p>
                          <a href="#"><i class="fa fa-comments"></i>20 Comments</a>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div> 
        </div><!-- End category Four --> 
      </div>
      <!-- start category Five -->
      <div class="single_category wow fadeInDown">
        <div class="category_title">
          <a href="#">Category 5</a>
        </div>
        <div class="single_category_inner">
         <ul class="catg3_snav catg5_nav">
            <li>
              <div class="media">
                <a href="#" class="media-left">
                  <img alt="img" src="http://lorempixel.com/70/70/">
                </a>
                <div class="media-body">
                  <a href="#" class="catg_title"> Aliquam malesuada diam eget turpis varius</a>
                   <div class="sing_commentbox">
                    <p><i class="fa fa-calendar"></i>19 Nov 2014</p>
                    <a href="#"><i class="fa fa-comments"></i>20 Comments</a>
                  </div>
                </div>
              </div>
            </li>
             <li>
              <div class="media">
                <a href="#" class="media-left">
                  <img alt="img" src="http://lorempixel.com/70/70/">
                </a>
                <div class="media-body">
                  <a href="#" class="catg_title"> Aliquam malesuada diam eget turpis varius</a>
                   <div class="sing_commentbox">
                    <p><i class="fa fa-calendar"></i>19 Nov 2014</p>
                    <a href="#"><i class="fa fa-comments"></i>20 Comments</a>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="media">
                <a href="#" class="media-left">
                  <img alt="img" src="http://lorempixel.com/70/70/">
                </a>
                <div class="media-body">
                  <a href="#" class="catg_title"> Aliquam malesuada diam eget turpis varius</a>
                   <div class="sing_commentbox">
                    <p><i class="fa fa-calendar"></i>19 Nov 2014</p>
                    <a href="#"><i class="fa fa-comments"></i>20 Comments</a>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="media">
                <a href="#" class="media-left">
                  <img alt="img" src="http://lorempixel.com/70/70/">
                </a>
                <div class="media-body">
                  <a href="#" class="catg_title"> Aliquam malesuada diam eget turpis varius</a>
                   <div class="sing_commentbox">
                    <p><i class="fa fa-calendar"></i>19 Nov 2014</p>
                    <a href="#"><i class="fa fa-comments"></i>20 Comments</a>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="media">
                <a href="#" class="media-left">
                  <img alt="img" src="http://lorempixel.com/70/70/">
                </a>
                <div class="media-body">
                  <a href="#" class="catg_title"> Aliquam malesuada diam eget turpis varius</a>
                   <div class="sing_commentbox">
                    <p><i class="fa fa-calendar"></i>19 Nov 2014</p>
                    <a href="#"><i class="fa fa-comments"></i>20 Comments</a>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="media">
                <a href="#" class="media-left">
                  <img alt="img" src="http://lorempixel.com/70/70/">
                </a>
                <div class="media-body">
                  <a href="#" class="catg_title"> Aliquam malesuada diam eget turpis varius</a>
                   <div class="sing_commentbox">
                    <p><i class="fa fa-calendar"></i>19 Nov 2014</p>
                    <a href="#"><i class="fa fa-comments"></i>20 Comments</a>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div> <!-- End category Five --> 
    </div>
  </div>
</div>