<div class="thumbnail_slider_area">
  <!-- Set up your HTML -->
  <div class="owl-carousel">
    <div class="signle_iteam">
      <img src="http://lorempixel.com/395/396/" alt="img">
      <div class="sing_commentbox slider_comntbox">
        <p><i class="fa fa-calendar"></i>19 Nov 2014</p>
        <a href="#"><i class="fa fa-comments"></i>20 Comments</a>
      </div>
      <a class="slider_tittle" href="#">Fusce eu nulla semper porttitor felis sit amet</a>
    </div>
    <div class="signle_iteam">
      <img src="http://lorempixel.com/395/396/" alt="img">
      <div class="sing_commentbox slider_comntbox">
        <p><i class="fa fa-calendar"></i>19 Nov 2014</p>
        <a href="#"><i class="fa fa-comments"></i>20 Comments</a>
      </div>
      <a class="slider_tittle" href="#">Fusce eu nulla semper porttitor felis sit amet</a>
    </div>
    <div class="signle_iteam">
      <img src="http://lorempixel.com/395/396/" alt="img">
      <div class="sing_commentbox slider_comntbox">
        <p><i class="fa fa-calendar"></i>19 Nov 2014</p>
        <a href="#"><i class="fa fa-comments"></i>20 Comments</a>
      </div>
      <a class="slider_tittle" href="#">Fusce eu nulla semper porttitor felis sit amet</a>
    </div>
    <div class="signle_iteam">
      <img src="http://lorempixel.com/395/396/" alt="img">
      <div class="sing_commentbox slider_comntbox">
        <p><i class="fa fa-calendar"></i>19 Nov 2014</p>
        <a href="#"><i class="fa fa-comments"></i>20 Comments</a>
      </div>
      <a class="slider_tittle" href="#">Fusce eu nulla semper porttitor felis sit amet</a>
    </div>
    <div class="signle_iteam">
      <img src="http://lorempixel.com/395/396/" alt="img">
      <div class="sing_commentbox slider_comntbox">
        <p><i class="fa fa-calendar"></i>19 Nov 2014</p>
        <a href="#"><i class="fa fa-comments"></i>20 Comments</a>
      </div>
      <a class="slider_tittle" href="#">Fusce eu nulla semper porttitor felis sit amet</a>
    </div>
    <div class="signle_iteam">
      <img src="http://lorempixel.com/395/396/" alt="img">
      <div class="sing_commentbox slider_comntbox">
        <p><i class="fa fa-calendar"></i>19 Nov 2014</p>
        <a href="#"><i class="fa fa-comments"></i>20 Comments</a>
      </div>
      <a class="slider_tittle" href="#">Fusce eu nulla semper porttitor felis sit amet</a>
    </div>
  </div>
</div>