/***** admin menu ******/

//body{margin-top:150px;}
.admin-menu { margin-top:60px; }
.glyphicon { margin-right:10px; }
.panel-body { padding:0px; }
.panel-body table tr td { padding-left: 15px }
.panel-body .table {margin-bottom: 0px; }


/***** Pannel dashboard ******/

/*body { padding-top:20px; }*/
.panel-body .btn:not(.btn-block) {
  width:125px;
  margin-bottom:20px;
  /*padding-left: 20px;*/
}
.panel {
  /*padding-left: 10px;*/
}