<!DOCTYPE html>
<html>
<head>
  <title>Sorong Bisnis</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- from theme -->
  <!-- Bootstrap -->
    <link href="/theme/css/bootstrap.min.css" rel="stylesheet">
    <!-- for fontawesome icon css file -->
    <link href="/theme/css/font-awesome.min.css" rel="stylesheet">
    <!-- for content animate css file -->
    <link rel="stylesheet" href="/theme/css/animate.css">
    <!-- google fonts  -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Metal+Mania' rel='stylesheet' type='text/css'> 
    <link href='http://fonts.googleapis.com/css?family=Varela' rel='stylesheet' type='text/css'>
    <!-- for news ticker css file -->
     <link href="/theme/css/li-scroller.css" rel="stylesheet">
     <!-- slick slider css file -->
    <link href="/theme/css/slick.css" rel="stylesheet">
    <!-- website theme file -->
    <!-- <link href="css/theme-red.css" rel="stylesheet"> -->
     <!-- <link href="css/theme-yellow.css" rel="stylesheet"> -->
     <link href="/theme/css/theme.css" rel="stylesheet">
    <!-- main site css file -->    
    <link href="/theme/style.css" rel="stylesheet">	

</head>
<body>

<%= yield %>

</body>
</html>
